    .devsboard {
        line-height: 1.5;
        font-weight: 100;
        font-synthesis: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;

        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2; 

        background: linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid #444544;

        height: 100%;
        width: 100%;
    }

    .devsboard > .devstext {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100px;
        height: 100px;
    }
