* {
    margin: 0;
    padding: 0;
}
/* this class for designing */
nav {
    position: fixed;
    top: 0;
    width: 100%;    
    z-index: 3;
    border: 1.5px solid rgb(34, 165, 11);
    /*background: linear-gradient(135deg, rgba(181, 75, 75, 0), rgba(255,255,255,0));*/
    
    backdrop-filter: blur(4px);
    border: 1px solid black;
    box-shadow: 0 8px 32px 0 rgb(200, 237, 238);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    /*ADDRESS AN ALTERNATIVE*/
    display: inline-block;
    align-items: left;
}

nav ul li a {

    height:40px;
    line-height:40px;

    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    transition: color 0.2s ease-out;
    width: 100px;
    padding:10px;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}


.settingsrotate{
    transition: animation 1s;
}
.settingsrotate:hover{
    animation: IconSpin infinite 10s linear;
}
@keyframes IconSpin {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(+360deg)
    }
}